.grid-background {
    background: #2c2c2c;
    padding: 40px;
    text-align: left;
    font-size: 24px;
}

.icon {
    height: 20px;
    width: 20px;
    display: block;
}

a {
    color: #ff9e18;
    font-size: 15px;
    padding: 0 12px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-decoration: none;
}

.ag-header-cell-label {
    font-weight: bold;
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: left;
}

.ag-row .ag-cell {
    display: flex;
    justify-content: left;
    align-items: center;
}

.toolbar-button {
    padding: 10px 16px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.57);
    border: 1px solid black;
    border-bottom: 2px solid black;
    outline: black;
}

/* Style the active class, and buttons on mouse-over */
.toolbar-button-selected, .toolbar-button:hover, .toolbar-button:focus {
    padding: 10px 16px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    background-color: #666;
    border: 1px solid black;
    border-bottom: 2px solid black;
    outline: black;
}

.toolbar-label {
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 10px;
}

.toolbar-label-start {
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-left: -50px;
    margin-right: 10px;
}

.info-button {
    background: #2c2c2c;
    border: #2c2c2c;
    float: left;
}

.tooltip-info {
    font-size: 18px;
    background: #fdffb1;
    text-align: left;
}

.tooltip-info > .tooltip-info-header {
    background: #fdffb1;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
}

.toolbar-section {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.toolbar-section-mobile {
    text-align: right;
    width: 100%;
    margin-bottom: 10px;
}

.exchange-select {
    padding: 10px 16px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.57);
    border: 1px solid black;
    border-bottom: 2px solid black;
    outline: black;
}

.exchange-option {
    padding: 10px 16px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.57);
    border: 1px solid black;
    border-bottom: 2px solid black;
    margin-right: 50px;
    outline: black;
}

.loader-style {
    float: right;
    height: 50%;
    width: 53%;
}
