.modal-chart-background {
    background-color: #000000;
    position: fixed;
    width: 60%;
    height: 600px;
    top: 100px;
    left: 20%;
    bottom: 0;
}

.modal-chart-background-mobile {
    background-color: #000000;
    position: fixed;
    width: 60%;
    height: 600px;
    top: 100px;
    bottom: 0;
}

.modal {
    background-color: #fff;
}

.modal-header {
    height: 15%;
    width: 100%;
    text-align: center
}

.high-light-button {
    background-color: #0099cc;
    border: 2px solid blue;
    color: #ffffff;
}

.chart-button{
    border: 1px solid #0066cc;
    background-color: #0099cc;
    color: #ffffff;
}

.chart-button:hover {
    border: 1px solid #0099cc;
    background-color: #00aacc;
    color: #ffffff;
}

.disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.hidden {
    display: none;
}

.hours-label {
    margin-right: 10px;
    margin-top: 100px;
    color: #000000;
    font-size: 18px;
}

.middle-label {
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 100px;
    color: #000000;
    font-size: 18px;
}

.close {
    width: 25px;
    height: 25px;
    float: right;
    background: url("close-icon.png") no-repeat center center;
}

.type-chart {
    float: right;
}
